<!DOCTYPE html>
<html>
<head>
<style>
body { background-color : #A7C181; }
h3 { color : #F43D00; }
hr { border : 3px solid #F7E0A5; }
span { color : blue; font-size : 20px; }
</style><title>맛집 추천해주는 사이트</title></head>
<body>
<!DOCTYPE html PUBLIC “-//W3C//DTD HTML 4.0 Transitional//EN”>
<body>
<h1>맛집 추천해주는 사이트</h1>
<hr>
<hr>
<hr>
<h3>사이트 선택</h3>
<form>
<label>
<form method="POST" action="/info">
</form>

<form method=“GET" action="/info">
<select name="rating"
</option>  
<option value="식신"> 식신 </option>  
<option value="다이닝 코드"> 다이닝 코드 </option>  
<option value="트립어드바이저"> 트립어드바이저 </option> 
</select>
<button type="submit"> Submit </button>
</form>


</label><br>
<label>
</label><br>
<hr>
<hr>
<hr>
</form>
</body>
</html>
