<!DOCTYPE html>
<html>
<head>
<style>
body { background-color : #A7C181; }
h3 { color : #F43D00; }
hr { border : 3px solid #F7E0A5; }
span { color : blue; font-size : 20px; }
</style><title>맛집 추천해주는 사이트</title></head>
<body>
<!DOCTYPE html PUBLIC “-//W3C//DTD HTML 4.0 Transitional//EN”>
<body>
<h1>맛집 추천해주는 사이트</h1>
<hr>
<hr>
<hr>
<h3>지역 선택</h3>
<form>
<label>
<form method="POST" action="/info">
</form>

<form method=“GET" action="/info">
<select name="rating"
</option>  
<option value="중구"> 중구 </option>  
<option value="수성구"> 수성구 </option>  
<option value="북구"> 북구 </option> 
<option value="남구"> 남구 </option> 
<option value="달서구"> 달서구 </option> 
<option value="동구"> 동구 </option> 
</select>
<button type="submit"> Submit </button>
</form>


</label><br>
<label>
</label><br>
<hr>
<hr>
<hr>
</form>
</body>
</html>
