<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<style>
body { background-color : #00BFEF; }
h3 { color : #F43D00; }
hr { border : 3px solid yellowgreen; }
span { color : blue; font-size : 20px; }
</style><title>맛집 추천해주는 사이트</title></head>
<body>
<h1>맛집 추천해주는 사이트</h1>
<hr>
<hr>
<hr>
<h3>위치 선택</h3>
<h5>위치 이름 누르면 사이트로 이동</h5>
<hr>
<form method="POST" action="/north">
 북문 <input name="name" type="text"><br/>
 <button type="submit"> submit </button>
</form>
<form method="POST" action="/south">
 정문 <input name="name" type="text"><br/>
 <button type="submit"> submit </button>
</form>
<form method="POST" action="/west">
 서문  <input name="name" type="text"><br/>
 <button type="submit"> submit </button>
</form>
<form method="POST" action="/east">
 쪽문 <input name="name" type="text"><br/>
 <button type="submit"> submit </button>
</form>

</body>
</html>
