<!DOCTYPE html PUBLIC “-//W3C//DTD HTML 4.0 Transitional//EN”>
<html>
<head>
<style>
body { background-color : #A7C181; }
h3 { color : #F43D00; }
hr { border : 3px solid #F7E0A5; }
span { color : blue; font-size : 20px; }
</style><title>선택한 사이트: </title></head>
<body>
<h3> 선택한 사이트: {{name}} </h3>
<hr>
<hr>
<hr>
<h3>맛집 리스트</h3>
<h9>식당이름: <h9>
<h9>ㅁㅁㅁㅁㅁ</h9>
<h9>별점: <h9>
<h9>4.7 </h9>
<h9>식당위치: <h9>
<h9>ㅁㅁㅁㅁㅁ </h9>
<hr>
<h9>식당이름: <h9>
<h9>ㅁㅁㅁㅁㅁ</h9>
<h9>별점: <h9>
<h9>4.7 </h9>
<h9>식당위치: <h9>
<h9>ㅁㅁㅁㅁㅁ </h9>
<hr>
<h9>식당이름: <h9>
<h9>ㅁㅁㅁㅁㅁ</h9>
<h9>별점: <h9>
<h9>4.7 </h9>
<h9>식당위치: <h9>
<h9>ㅁㅁㅁㅁㅁ </h9>
<hr>
<h9>식당이름: <h9>
<h9>ㅁㅁㅁㅁㅁ</h9>
<h9>별점: <h9>
<h9>4.7 </h9>
<h9>식당위치: <h9>
<h9>ㅁㅁㅁㅁㅁ </h9>
<hr>
<h9>식당이름: <h9>
<h9>ㅁㅁㅁㅁㅁ</h9>
<h9>별점: <h9>
<h9>4.7 </h9>
<h9>식당위치: <h9>
<h9>ㅁㅁㅁㅁㅁ </h9>
<hr>
<h5></h5>
<form>
</form>
</body>
</html>
