<!DOCTYPE html PUBLIC “-//W3C//DTD HTML 4.0 Transitional//EN”>
<html>
<head>
<style>
body { background-color : #A7C181; }
h3 { color : #F43D00; }
h4 { font-size: 20px !important; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); padding: 3px 5px; margin: 5px 0; BACKGROUND-COLOR: #A7C181; BORDER-BOTTOM: 2px solid #ccc; BORDER-TOP: 2px solid #ccc; BORDER-LEFT: #4D82B8 8px solid; BORDER-RIGHT: 2px solid #ccc; border-bottom: 2px solid #ccc}
hr { border : 3px solid #F7E0A5; }
span { color : blue; font-size : 20px; }
</style><title>선택한 지역: </title></head>
<body>
<p><span style="background: linear-gradient(to right, #01ebf3, #A7C181); padding: 0.43em 1em; font-size: 40px; border-radius: 3px; color: #d1fdc8;">선택한 지역 || {{name}}</span></p>

<hr>
<hr>
<hr>
<p><span style="background: linear-gradient(to right, #758efe, #A7C181); padding: 0.3em 0.2em; font-size: 25px; border-radius: 3px; color: #fde2c8;">{{name}}에 위치한 맛집 리스트</span></p>

<script>
var siksin_location_data = {{siksin_location|tojson}} ;
var d_address_data = {{d_address|tojson}} ;
var trip_address_data = {{trip_address|tojson}} ;
var menupan_location_data = {{location|tojson}} ;

var siksin = {{lst1|tojson}} ;
var trip = {{lst2|tojson}} ;
var d_code = {{lst3|tojson}} ;
var menupan = {{lst4|tojson}} ;


var myname = {{name|tojson}} ;

var count =0;
document.write("<h4>식신의 추천 맛집 목록</h4>");
for(i=0;i<5;i++){
	if(siksin_location_data[i].includes(myname)){
		count++;
		document.write(siksin[i]);
		document.write("<br>");
		document.write("<br>");
	}
}
if (count==0){
document.write("검색 결과 없음");
		document.write("<br>");
		document.write("<br>");
}

var count =0;
document.write("<h4>트립어드바이저의 추천 맛집 목록</h4>");
for(i=0;i<5;i++){
	if(trip_address_data[i].includes(myname)){
		count++;
		document.write(trip[i])
		document.write("<br>");
		document.write("<br>");
	}
}
if (count==0){
document.write("검색 결과 없음");
		document.write("<br>");
		document.write("<br>");
}


var count =0;
document.write("<h4>다이닝 코드의 추천 맛집 목록</h4>");
for(i=0;i<5;i++){
	if(d_address_data[i].includes(myname)){
		count++;
		document.write(d_code[i])
		document.write("<br>");
		document.write("<br>");
	}
}
if (count==0){
document.write("검색 결과 없음");
		document.write("<br>");
		document.write("<br>");
}


var count =0;
document.write("<h4>메뉴판의 추천 맛집 목록</h4>");
for(i=0;i<5;i++){
	if(menupan_location_data[i].includes(myname)){
		count++;
		document.write(menupan[i])
		document.write("<br>");
		document.write("<br>");
	}
}
if (count==0){
document.write("검색 결과 없음");
		document.write("<br>");
		document.write("<br>");
}
</script>




</ul>
<hr>
<hr>
<hr>
<h5></h5>
<form>
</form>
</body>
</html>
