<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
 <head><title>team 8 project</title>
  <script>
  </script>
  <style>
   body { background-color : #D3D3D3;}
  </style>
 </head>
 <body>
  <h1> 북문 </h1>
  <img src={{ url_for('static', filename='north.jpg') }} width="500" height="300">
  <form method="GET" action="/info">
    
  <h2>
   <select name = "식당">
    <option value=""> 식당선택</option> 
    <option value=""> {{info1}}</option>
    <option value=""> {{info2}}</option>
    <option value=""> {{info3}}</option>
    <option value=""> {{info4}}</option>
    <option value=""> {{info5}}</option>

   </select>
    <button type="submit"> Submit </button>
  </h2>
 </body>
</html>
